<div class="row justify-content-center">
  <div
    id="index-content"
    class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-12 p-3"
  >
    <form action="/find-user" method="post">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />

      <button type="submit">Find me!</button>

    </form>

  </div>
</div>