<div id="login-content" class="row justify-content-center mb-4 py-4">
  <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-12 pt-3" id="login-box">
    <div class="row justify-content-center px-3 py-5">
      <h1>Welcome</h1>
      <h1>Back</h1>
    </div>
    <div id="login-lower-half" class="row justify-content-center px-3 py-5">
      <form action="/login" method="POST">

        <div class="col-auto my-2">
          <label for="username">Username</label>
        </div>
        <div class="col-auto mb-5">
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            required
          />
        </div>

        <div class="col-auto my-2">
          <label for="password">Password</label>
        </div>
        <div class="col-auto mb-2">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <a href="/find-user">Forgot Password? Answer Security Question</a>
        <div class="col-auto mt-5 mb-2">
          <input
            type="checkbox"
            name="rememberMe"
            id="rememberMe"
            value="Remember Me"
          />
          <label for="rememberMe">Remember Me</label>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="btn-group w-100">
            <input
              id="login-btn-primary"
              class="btn btn-primary flex-fill"
              type="submit"
              value="Log in"
            />
          </div>
        </div>

        <div class="divider d-flex align-items-center my-3">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>

        <div class="row justify-content-center">
          <div class="btn-group w-100">
            <a
              id="login-btn-secondary"
              class="btn btn-secondary flex-fill"
              href="/signup"
            >Sign up</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

  {{#if successMessage}}
    <p>{{successMessage}}</p>
  {{/if}}

</div>