<h3>Please create a new password, {{user.username}}</h3>

<form action='/reset-password/{{user._id}}' method='post'>
	<div class='col-auto my-3'>
		<label for='password'>New Password</label>
	</div>

	<div class='col-auto my-3'>
		<input type='password' id='password' class='form-control' name='password' required />
	</div>

	<div class='col-auto my-3'>
		<label for='confirm'>Confirm Password</label>
	</div>

	<div class='col-auto my-3'>
		<input type='password' id='confirm' class='form-control' name='confirm' required />
	</div>

	<input type='hidden' name='_id' value='{{user._id}}' />

	<button type='submit'>Reset Password</button>
</form>

{{#if errorMessage}}
	<p>{{errorMessage}}</p>
{{/if}}