<h3>Please answer the following question, {{user.username}}</h3>

<h4>{{message}}</h4>

<form action='/reset-password' method='post'>
    <label for='answer'>Answer</label>
    <input type='text' id='answer' name='passwordResetAnswer' />
    <div class='col-auto my-3'>
			<label for='password'>New Password</label>
		</div>

		<div class='col-auto my-3'>
			<input type='password' id='password' class='form-control' name='password' required />
		</div>

		<div class='col-auto my-3'>
			<label for='confirm'>Confirm Password</label>
		</div>

		<div class='col-auto my-3'>
			<input type='password' id='confirm' class='form-control' name='confirm' required />
		</div>

        <input type="hidden" name="_id" value="{{user._id}}">


    <button type='submit'>Reset Password</button>