<div id="login-content" class="row justify-content-center">
  <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-12 pt-3" id="login-box">
    <div class="row justify-content-center px-3 py-5">
      <h1>Create new password</h1>
    </div>

    <div id="login-lower-half" class="row justify-content-center px-3 py-5">

      {{! Error message for wrong password }}
      {{#if errorMessage}}
        <p class="text-danger mb-5">{{errorMessage}}</p>
      {{/if}}

      <div class="row justify-content-center">
        <p>Please enter a new password below.</p>

        <form action="/reset-password/{{user._id}}" method="post">
          <div class="col-auto my-3">
            <label for="password">New Password</label>
          </div>

          <div class="col-auto my-3">
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              required
            />
          </div>

          <div class="col-auto my-3">
            <label for="confirm">Confirm Password</label>
          </div>

          <div class="col-auto my-3">
            <input
              type="password"
              id="confirm"
              class="form-control"
              name="confirm"
              required
            />
          </div>

          <input type="hidden" name="_id" value="{{user._id}}" />

          <button type="submit" class="btn btn-secondary">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>