<div id="main-content" class="row justify-content-center">
  <div
    class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-12 px-3 pb-4"
    id="content-box"
  >

    <div class="row justify-content-center">
      <div class="col-md-12 col-12">
        {{! Page title }}
        <div id="page-title" class="row p-3">
          <div class="col-auto p-3">
            <img src="/images/icons/padlock.png" width="60px" />
          </div>
          <div class="col-auto py-3">
            <h2>Change Password</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <p>Please enter your new password below.</p>

      <form action="/new-password" method="post">
        <div class="col-auto mt-3 mb-1">
          <label for="password">New Password</label>
        </div>

        <div class="col-auto mb-3">
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            required
          />
        </div>

        <div class="col-auto mt-3 mb-1">
          <label for="confirm">Confirm Password</label>
        </div>

        <div class="col-auto mb-3">
          <input
            type="password"
            id="confirm"
            class="form-control"
            name="confirm"
            required
          />
        </div>

        <input type="hidden" name="_id" value="{{user._id}}" />
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto mt-3 mb-1">
        {{#if errorMessage}}
          <h5 class="text-danger text-center">{{errorMessage}}</h5>
        {{/if}}
      </div>
    </div>
  </div>
</div>