<div id="random-fact" class="row justify-content-center">
  <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10">
    Did you know?
  </div>
  <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 border rounded py-2">
    <p class="">Placeholder text for random fact from
      <a href="https://api-ninjas.com/api/facts" target="_blank">Facts API</a>,
      or similar API.</p>
  </div>
</div>