<div class='row justify-content-center'>
	<div class='col-xxl-8 col-xl-8 col-lg-10 col-12 my-3'>
		<h2>Add a new task</h2>

		{{! Add a title }}
		<form action='/create' method='POST'>
			<div class='row justify-content-center'>
				<div class='col-12 my-1'>
					<label for='title'>Title</label>
				</div>
			</div>
			<div class='row justify-content-center'>
				<div class='col-12 my-1'>
					<input type='text' id='title' class='form-control' name='title' required />
				</div>
			</div>

			{{! Add a description }}
			<div class='row justify-content-center'>
				<div class='col-12 my-1'>
					<label for='description'>Description</label>
				</div>
			</div>

			<div class='row justify-content-center'>
				<div class='col-12 my-1'>
					<textarea
						id='description'
						class='form-control'
						name='description'
						required
					></textarea>
				</div>
			</div>

			{{! Select whether the task is to be added once or recurringly }}
			<div class='row justify-content-center'>
				<div class='col-12 my-1'>
					<label for='repeat'>Repeat</label>
				</div>
			</div>

			<div class='row justify-content-center'>
				<div class='col-12 my-1'>
					<select id='repeat' name='repeat' oninput='selectRecurrence()'>
						<option disabled selected> -- select an option -- </option>
						<option value='once'>Once</option>
						<option value='weekly'>Weekly</option>
					</select>
				</div>
			</div>

			{{! This block only shows when "once" was selected }}
			<div id='specific-day' class='row justify-content-center'>
				<div class='row justify-content-center'>
					<div class='col-12 my-1'>
						<label for='specificDate'>Choose a date</label>
					</div>
				</div>

				<div class='row justify-content-center'>
					<div class='col-12 my-1'>
						<input type='date' id='specificDate' name='specificDate' />
					</div>
				</div>

				<div class='row justify-content-center'>
					<div class='col-12 my-4'>
						<input type='submit' value='Add Task' class='btn btn-primary' />
					</div>
				</div>
			</div>

			{{! This block only shows when "repeat" was selected }}
			<div id='days' class='row justify-content-center'>
				<div class='col-12 m-1'>
					<label for='daysOfWeek'><p>For which days do you want to add this task?</p></label>
				</div>
				<div class='col-12 m-1'>
					<input type='checkbox' id='Sunday' name='daysOfWeek' value='Sunday' />
					<label for='Sunday'>Sunday</label>
				</div>

				<div class='col-12 m-1'>
					<input type='checkbox' id='Monday' name='daysOfWeek' value='Monday' />
					<label for='Monday'>Monday</label>
				</div>

				<div class='col-12 m-1'>
					<input type='checkbox' id='Tuesday' name='daysOfWeek' value='Tuesday' />
					<label for='Tuesday'>Tuesday</label>
				</div>
				<div class='col-12 m-1'>
					<input type='checkbox' id='Wednesday' name='daysOfWeek' value='Wednesday' />
					<label for='Wednesday'>Wednesday</label>
				</div>
				<div class='col-12 m-1'>
					<input type='checkbox' id='Thursday' name='daysOfWeek' value='Thursday' />
					<label for='Thursday'>Thursday</label>
				</div>
				<div class='col-12 m-1'>
					<input type='checkbox' id='Friday' name='daysOfWeek' value='Friday' />
					<label for='Friday'>Friday</label>
				</div>
				<div class='col-12 m-1'>
					<input type='checkbox' id='Saturday' name='daysOfWeek' value='Saturday' />
					<label for='Saturday'>Saturday</label>
				</div>

				<div class='row justify-content-center'>
					<div class='col-12 my-4'>
						<input
							type='submit'
							value='Add recurring task'
							class='btn btn-primary'
						/>
					</div>
				</div>
			</div>

		</form>

	</div>
</div>

{{!-- prettier-ignore --}}
<script>
  window.onload = function () {
    const repeat = document.getElementById('repeat');
    const days = document.getElementById('days');
    const specificDay = document.getElementById('specific-day');
      specificDay.style.display = 'none';
      days.style.display = 'none';



  }
</script>