<!DOCTYPE html>
<html>
  <head>
    <title>Create Activity</title>
  </head>
  <body>
    <h1>Create Activity</h1>
    <form action="/activities" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <br>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
      <br>
      <label for="daysOfWeek">Days of Week:</label>
      <br>
      <input type="checkbox" id="Monday" name="daysOfWeek" value="Monday">
      <label for="Monday">Monday</label>
      <br>
      <input type="checkbox" id="Tuesday" name="daysOfWeek" value="Tuesday">
      <label for="Tuesday">Tuesday</label>
      <br>
      <input type="checkbox" id="Wednesday" name="daysOfWeek" value="Wednesday">
      <label for="Wednesday">Wednesday</label>
      <br>
      <input type="checkbox" id="Thursday" name="daysOfWeek" value="Thursday">
      <label for="Thursday">Thursday</label>
      <br>
      <input type="checkbox" id="Friday" name="daysOfWeek" value="Friday">
      <label for="Friday">Friday</label>
      <br>
      <input type="checkbox" id="Saturday" name="daysOfWeek" value="Saturday">
      <label for="Saturday">Saturday</label>
      <br>
      <input type="checkbox" id="Sunday" name="daysOfWeek" value="Sunday">
      <label for="Sunday">Sunday</label>
      <br>
      <label for="repeat">Repeat:</label>
      <select id="repeat" name="repeat">
        <option value="once">Once</option>
        <option value="weekly">Weekly</option>
      </select>
      <br>
      <label for="specificDate">Specific Date:</label>
      <input type="date" id="specificDate" name="specificDate">
      <br>
      <input type="submit" value="Create Activity">
    </form>
  </body>
</html>
