<h1>Create Activity</h1>
<form action="/create" method="POST">
  <br />
  <label for="repeat">Repeat:</label>

  <select id="repeat" name="repeat" oninput="selectRecurrence()">
    <option disabled selected> -- select an option -- </option>
    <option value="weekly">Weekly</option>
    <option value="once">Once</option>
  </select>
  <br />
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required />
  <br />
  <label for="description">Description:</label>
  <textarea id="description" name="description" required></textarea>
  <br />
  <div id="days">
    <label for="daysOfWeek">Days of Week:</label>
    <br />
    <input type="checkbox" id="Sunday" name="daysOfWeek" value="Sunday" />
    <label for="Sunday">Sunday</label>
    <br />
    <input type="checkbox" id="Monday" name="daysOfWeek" value="Monday" />
    <label for="Monday">Monday</label>
    <br />
    <input type="checkbox" id="Tuesday" name="daysOfWeek" value="Tuesday" />
    <label for="Tuesday">Tuesday</label>
    <br />
    <input type="checkbox" id="Wednesday" name="daysOfWeek" value="Wednesday" />
    <label for="Wednesday">Wednesday</label>
    <br />
    <input type="checkbox" id="Thursday" name="daysOfWeek" value="Thursday" />
    <label for="Thursday">Thursday</label>
    <br />
    <input type="checkbox" id="Friday" name="daysOfWeek" value="Friday" />
    <label for="Friday">Friday</label>
    <br />
    <input type="checkbox" id="Saturday" name="daysOfWeek" value="Saturday" />
    <label for="Saturday">Saturday</label>
    <br />

    <input type="submit" value="Create Activity" />
  </div>

  <div id="specific-day">
    <br />
    <label for="specificDate">Specific Date:</label>
    <input type="date" id="specificDate" name="specificDate" />
    <br />
    <input type="submit" value="Create Activity" />
  </div>
</form>

<script>
  window.onload = function () { const repeat =
  document.getElementById('repeat'); const days =
  document.getElementById('days'); const specificDay =
  document.getElementById('specific-day'); specificDay.style.display = 'none';
  days.style.display = 'none'; }
</script>