<div>
  <div>
    <h3>Productivity</h3>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <a class="btn btn-primary btn-lg btn-block" href="/signup">Sign up</a>
    <a class="btn btn-primary btn-lg btn-block" href="/login">Log in</a>
  </div>
</div>