<div id="index-content">
  <div class="row justify-content-center px-3 pt-4">
    <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 py-3">
      <h1 id="app-name">Taskmeister</h1>
    </div>
  </div>

  <div class="row justify-content-center mb-4 px-3 pt-1 pb-3">
    <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10">
      <p class="lh-base" id="slogan">{{slogan}}</p>
    </div>
  </div>

  <div class="row justify-content-center px-3 py-1">
    <div class="col-lg-3 col-md-6 col-12">
      <a class="btn btn-primary w-100" href="/signup">Sign up</a>
    </div>
  </div>

  <div class="row justify-content-center p-3">
    <div class="col-lg-3 col-md-6 col-12">
      <a class="btn btn-outline-primary w-100" href="/login">Log In</a>
    </div>
  </div>
</div>