<div class="row justify-content-center mb-4 pt-4">
  <h1>App Name</h1>
</div>
<div class="col-md-10 my-3 pb-5">
  <h3 class="lh-base">Never lose track of anything ever again and achieve all
    your goals 💪</h3>
</div>

<div class="row justify-content-center">
  <div class="btn-group w-100">
    <a class="btn btn-primary flex-fill" href="/signup">Sign up</a>
  </div>
</div>

<div class="divider d-flex align-items-center my-4">
  <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
</div>

<div class="row justify-content-center">
  <div class="btn-group w-100">
    <a class="btn btn-secondary flex-fill" href="/login">Log In</a>
  </div>
</div>