<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{#if isLoggedIn}}
      <nav>
        <!-- Navigation menu for logged in users -->
        <h1>Logo</h1>
        funzt
      </nav>
    {{else}}
      <nav>
        <!-- Navigation menu for logged out users -->
        <h1>Logo</h1>
      </nav>
    {{/if}}

    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/schedule">View Schedule</a></li>
      <li><a href="/new-activity">New Activity</a></li>
    </ul>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>