<h1>Profile</h1>

<p>Name: {{user.username}}</p>
<p>Email: {{user.email}}</p>

<form action='/profile/delete-activities' method='POST'>
	<label for='password'>Password:</label>
	<input type='password' name='password' />
	<button type='submit'>Delete All Activities</button>
</form>

<form action='/profile/delete-account' method='POST'>
	<label for='password'>Password:</label>
	<input type='password' name='password' />
	<button type='submit'>Delete Account</button>
</form>

<a href='/profile/statistics'> <button>Statistics</button></a>