<div class="row row-cols-3 justify-content-center">
    <div class="col-sm-1 text-center">
        <a href="/last-week" id="week-button" class="btn btn-secondary">
            <i class="bi bi-caret-left-square"></i>
        </a>
    </div>
    <div class="col-sm-2 text-center">
        <h2>Week {{this.Week}}</h2>
    </div>
    <div class="col-sm-1 text-center">
        <a href="/next-week" id="week-button" class="btn btn-secondary">
            <i class="bi bi-caret-right-square"></i>
        </a>
    </div>
</div>


<div class="row border rounded m-4 p-2">
    <h4>Sunday</h4>
    {{#each activities}}
        {{#if hasSunday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

<div class="row border rounded m-4 p-2">
    <h4>Monday</h4>
    {{#each activities}}
        {{#if hasMonday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

<div class="row border rounded m-4 p-2">
    <h4>Tuesday</h4>
    {{#each activities}}
        {{#if hasTuesday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

<div class="row border rounded m-4 p-2">
    <h4>Wednesday</h4>
    {{#each activities}}
        {{#if hasWednesday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

<div class="row border rounded m-4 p-2">
    <h4>Thursday</h4>
    {{#each activities}}
        {{#if hasThursday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

<div class="row border rounded m-4 p-2">
    <h4>Friday</h4>
    {{#each activities}}
        {{#if hasFriday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

<div class="row border rounded m-4 p-2">
    <h4>Saturday</h4>
    {{#each activities}}
        {{#if hasSaturday}}
            {{> day}}
        {{/if}}
    {{/each}}
</div>

	{{> randomfact}}

