<div>
    <strong>Monday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div>  
<div>
    <strong>Tuesday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div>  
<div>
    <strong>Wednesday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div>  
<div>
    <strong>Thursday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div> 
<div>
    <strong>Friday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div>
<div>
    <strong>Saturday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div>
<div>
    <strong>Sunday:</strong>
                <ul>
                    {{#each activities}}
                        {{#if hasMonday}}
                            {{> day}}
                        {{/if}}
                    {{/each}}
                </ul>
            </li>
</div>  



