/*--------------------------------------------------------------
# Import Bootstrap icons
--------------------------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/

body {
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #005f92;
}

a {
  color: #494949;
  text-decoration: none;
}

a:hover {
  color: #92d283;
}

li {
  color: #626262;
  font-weight: 400;
  line-height: 30px;
}

p {
  color: #505050;
  font-weight: 300;
  margin: 0px;
}

form {
  margin: 0px;
}

.btn {
  border: none;
}

.btn:hover {
  border: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  border: none;
}

.btn-primary {
  background-color: white;
  color: #4c9aef;
  font-size: 18px;
  font-weight: 500;
}

.btn-secondary {
  border: solid 1px white;
  font-size: 18px;
  font-weight: 500;
  background: none;
}

.btn-primary:hover {
  background-color: #4460ff;
  color: white;
}

.btn-secondary:hover {
  background-color: #4460ff;
  color: white;
}

/*--------------------------------------------------------------
# Header Logo
--------------------------------------------------------------*/

#logo {
  font-size: 32px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
}

/*--------------------------------------------------------------
# Header Navigation
--------------------------------------------------------------*/

.navbar {
  padding: 10px;
}

.navbar ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-light .navbar-toggler {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

#mobile-menu {
  gap: 10px;
  margin-block-end: 0;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

#index-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.jpg);
  filter: brightness(95%);
  background-size: cover;
  background-position: center;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

main {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 110px;
}

#slogan {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

#week-button {
  background-color: white;
  color: #333;
  font-size: 20px;
}

.font-weight-bold {
  font-weight: 700;
}

.text-success a {
  font-size: 18px;
  font-weight: 500;
  color: #3a8340;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 45px;
}

input[type="date"] {
  text-transform: uppercase;
  text-align: center;
  padding-right: 0em;
  padding-left: 1.2em;
  background: url("https://cdn3.iconfinder.com/data/icons/faticons/32/calendar-01-512.png")
    no-repeat center right;
  background-size: 1.5em;
}

#task-title {
  font-size: 18px;
  font-weight: 500;
}

#task-description {
  margin-left: 25px;
}

input[type="checkbox"] {
  /* Not removed via appearance */
  margin: 0 3 0 0;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.1em);
}

/*--------------------------------------------------------------
# Footer Navigation
--------------------------------------------------------------*/

#bottom-nav a {
  color: white;
}

#bottom-nav i {
  font-size: 20px;
}

#menu-button {
  padding-top: 9px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Mobile exclusive styles
--------------------------------------------------------------*/

@media (max-width: 992px) {
  #index-content {
    padding: 20px 20px 60px 20px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
}
