/*--------------------------------------------------------------
# Import Bootstrap icons
--------------------------------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/
@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf") format("truetype");
}

body {
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #005f92;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #4460ff;
  text-decoration: none;
}

a:hover {
  color: #5fb8f4;
}

li {
  color: #626262;
  font-weight: 400;
  line-height: 30px;
}

p {
  color: #505050;
  margin: 0px;
}

form {
  margin: 0px;
}

select {
  background-color: white;
  border: 1px solid #4460ff;
  color: #333;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.dropdown-style {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #4460ff, #4460ff);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.dropdown-style:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, #5fb8f4, #5fb8f4);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: #5fb8f4;
  outline: 0;
}

/*--------------------------------------------------------------
# Button styles
--------------------------------------------------------------*/

.btn {
  border: none;
}

.btn:hover {
  border: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  border: none;
}

.btn-primary {
  background-color: white;
  color: #4c9aef;
  font-size: 18px;
  font-weight: 500;
}

.btn-outline-primary {
  border: solid 1px white;
  color: white;
  font-size: 18px;
  font-weight: 500;
  background: none;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #4460ff;
  color: white;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #4460ff;
  border: solid 1px #4460ff;
  color: white;
}

.btn-secondary {
  background-color: #4460ff;
  color: white;
  padding: 10px;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #5fb8f4;
  color: white;
}

.btn-outline-secondary {
  border: solid 1px #4460ff;
  background-color: #e8edfc;
  color: #4460ff;
  padding: 10px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  background-color: #5fb8f4;
  border: solid 1px #5fb8f4;
  color: white;
}

/*--------------------------------------------------------------
# Header Navigation
--------------------------------------------------------------*/
.logo-image {
  margin-bottom: 10px;
}

#logo {
  font-family: "Lobster";
  font-size: 40px;
  letter-spacing: 4px;
  text-shadow: -1px 0 #5095ff, 0 1px #5095ff, 4px 0 #5095ff, 0 -1px #5095ff;
  color: #e8edfc;
}

.navbar {
  padding: 20px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #d2d2d2;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

.container {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#index-container {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

/*--------------------------------------------------------------
# Form Input
--------------------------------------------------------------*/

.form-input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 0.5em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 0.5em auto;
  transition: all 0.5s ease;
  letter-spacing: 1px;
}
.form-input:focus {
  border-bottom-color: #5fb8f4;
  box-shadow: 0 0 5px rgba(0, 89, 255, 0.4);
  border-radius: 4px;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

#week-button {
  background-color: white;
  color: #333;
  font-size: 20px;
}

.font-weight-bold {
  font-weight: 700;
}

.text-success a {
  font-size: 18px;
  font-weight: 500;
  color: #3a8340;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 45px;
}

input[type="date"] {
  text-transform: uppercase;
  text-align: center;
  padding-right: 0em;
  padding-left: 1.2em;
  background: url("https://cdn3.iconfinder.com/data/icons/faticons/32/calendar-01-512.png")
    no-repeat center right;
  background-size: 1.5em;
}

#task-title {
  font-size: 18px;
  font-weight: 500;
}

#task-description {
  margin-left: 25px;
}

input[type="checkbox"] {
  margin: 0 3 0 0;
  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.1em);
}

#ladder-container {
  text-align: right;
}

#ladder-img {
  width: 100px;
  height: auto;
}

/*--------------------------------------------------------------
# Mobile exclusive styles
--------------------------------------------------------------*/

@media (max-width: 575px) {
  #index-content {
    padding: 0px 20px 60px 20px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  #login-content {
    padding: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  #slogan {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  #login-lower-half {
    background-color: white;
    border-radius: 10px;
  }
}

/*--------------------------------------------------------------
# Larger viewport styles
--------------------------------------------------------------*/

@media (min-width: 576px) {
  #app-name {
    color: white;
    font-size: 80px;
    text-align: center;
  }

  #slogan {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    transform: skew(-10deg);
    background-color: #4460ff;
    padding: 8px 20px;
  }

  #index-content {
    padding-top: 28vh;
    overflow: hidden;
  }

  #login-box {
    border: solid 1px white;
    border-radius: 10px;
    margin: 16vh 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  #register-box {
    border: solid 1px white;
    border-radius: 10px;
    margin: 100px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  #login-lower-half {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }
}
