body {
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: #71c55d;
  text-decoration: none;
}

a:hover {
  color: #92d283;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 20px;
}

footer {
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

/*
  (To be continued)

.btn {
  border: 1px solid #555;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  border: 1px solid #555;
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

 .landing {
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
} */

/*--------------------------------------------------------------
# Header Logo
--------------------------------------------------------------*/

#logo {
  font-size: 30px;
  font-weight: 900;
  color: #505050;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------
# Header Navigation
--------------------------------------------------------------*/

.navbar ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  color: #222;
  white-space: nowrap;
}

.navbar-light .navbar-toggler {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer Navigation
--------------------------------------------------------------*/

.bottom-nav {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.bottom-nav li {
  position: relative;
}

#bottom-nav a {
  color: white;
}
